name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  VERSION: 6.1.${{ github.run_number }}
  CLI_VERSION: 2.1.${{ github.run_number }}
  NUGET_INDEX: https://api.nuget.org/v3/index.json
  BUILD_TYPE: Release 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Release DLL version
      run: echo ${{env.VERSION}}
      
    - name: Release CLI version
      run: echo ${{env.CLI_VERSION}}      
    
    - name: Setup .NET Core 6.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Setup .NET Core 7.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x        
        
    - name: Setup .NET Core 8.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore --configuration Release
      
    - name: Integrated Tests
      run: dotnet test ./tests/**/*.IntegratedTests.csproj --no-restore      

    - name: Publish DLL Artifact
      if: github.ref == 'refs/heads/main'
      run: |
        dotnet pack ./src/C4Sharp/C4Sharp.csproj --no-restore --configuration ${{ env.BUILD_TYPE }} -p:PackageVersion=${{ env.VERSION }}
        dotnet nuget push ./src/C4Sharp/**/*.${{ env.VERSION }}.nupkg --api-key ${{ secrets.NUGET_KEY }} --source ${{ env.NUGET_INDEX }}
        
    - name: Publish CLI Artifact
      if: github.ref == 'refs/heads/main'
      run: |
        dotnet pack ./src/C4Sharp.Tools/C4Sharp.Tools.csproj --no-restore --configuration ${{ env.BUILD_TYPE }} -p:PackageVersion=${{ env.CLI_VERSION }}
        dotnet nuget push ./src/C4Sharp.Tools/**/*.${{ env.CLI_VERSION }}.nupkg --api-key ${{ secrets.NUGET_KEY }} --source ${{ env.NUGET_INDEX }}        